@padding-size: 4px;
@element-padding: @padding-size @padding-size 0 @padding-size;

.movie-tile {
  flex: 1 100%;

  display: flex;
  flex-flow: row nowrap;;

  height: 128px;
  margin-bottom: 12px;

  &--image {
    width: 85px;
    margin-right: @padding-size;
  }

  &--content {
    display: flex;
    flex-flow: column nowrap;

    padding: @padding-size;

    &--title {
      font-weight: 500;

      padding: @element-padding;
    }

    &--subtitle {
      font-weight: 400;
      font-size: 0.8em;

      padding: @element-padding;
    }

    &--overview {
      font-size: 0.8em;
      line-height: 1.2em;

      padding: @element-padding;

      margin-bottom: 14px;

      overflow: hidden;
    }
  }
}
